* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    background-image: url(https://images3.alphacoders.com/106/1061210.jpg);
}

.backgroundWallpapper {
    transition: 0.5s;
    background-image: url(./img/lotr-background-c1gp1xkhdp5c897l.jpg); 
}

.dark {
    background-color: black;
    color: white;

}

.container {
    width: 980px;
    height: 580px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 32px;
    box-shadow: 2px 3px 7px;
    background-color: #F5F5DC;
    opacity: 0.8;
    
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.movie-page {
    width: 460px;
    height: 240px;
    margin-left: 30px;
    margin-right: 10px;
    justify-content: center;
}

.search-place {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
}

.search-place input {
    border: 0;
    border-bottom: 1px solid gray;
    width: 280px;
    height: 32px;
    font-size: 24px;
    margin-top: 20px;
    margin-right: 10px;
    outline: none;
    background-color: #F5F5DC;
}

.search-place .search-btn {
    width: 56px;
    height: 32px;
    font-size: 16px;
    border-radius: 7px;
    background-color: #BC9209;
    text-align: center;
    

}

.search-btn:hover {
    background-color: #744646;
    width: 62px;
    height: 36px;
    transition: 0.4s;
}

h1 {
    display: flex;
    flex-shrink: 0;
    width: 460px;
    height: 60px;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    font-size: 36px;
}

.year {
    font-size: 20px;
    margin-bottom: 20px;
}

.plot {
    width: 460px;
    font-size: 20px;
    margin-top: 20px;
}

.buttonBox {
    width: 980px;
    height: 75px;
    display: flex;
    justify-content: space-around;
}

.colorpicker {
    width: 82px;
    height: 36px;
    border-radius: 5px;
    margin: auto 0;
}

#switch-btn {
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    border-radius: 50px;
    background-color: #D9CFA2;
    color: white;
    box-shadow: 7px 3px 7px gray;
    text-transform: none;
}

#switch-btn:hover {
    background-color: #3B3838;
    transition: 0.4s;
    width: 85px;
    height: 85px;
}

